#lista {
  display: flex;
  text-align: center;
  flex-direction: column;
}

#lista h2 {
  margin-bottom: 120px;
}

.listagem ul {
  list-style: none;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
}

.listagem ul li {
  display: flex;
  height: 50px;
  align-items: center;
}

.listagem ul li:nth-child(1) {
  width: 240px;
}
.listagem ul li:nth-child(2) {
  width: 100px;
}
.listagem ul li:nth-child(3) {
  width: 120px;
}
.listagem ul li:nth-child(4) {
  width: 60px;
}
.listagem ul li:nth-child(5) {
  width: 60px;
}
.listagem ul:nth-child(odd) {
  background-color: #fff;
}
.listagem ul:nth-child(even) {
  background-color: #b0cedf;
}

.listagem ul:first-child {
  background-color: rgb(177, 176, 176);
  font-weight: 600;
}

.listagem ul li a {
  border: 1px solid #888;
  background-color: #4f819e;
  color: #fff;
}
